.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.modal h3 {
  margin: 40px 0px 0px 0px;
  padding: 0px;
  max-width: 300px !important; 
}
.error-msg {
  color:  #f44336 !important;
}

/****** LINKS ******/
a:hover {
  cursor: pointer;
}


/****** FOOTER ******/
.ng-scope footer.page-footer {
  padding-top: 0;
}

.page-footer h5 {
  margin: 0;
}

footer.page-footer .footer-brand {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.page-footer .row {
  margin: 0;
}

footer.page-footer div.footer-copyright {
  height: 20px;
  line-height: 20px;
}
/****** END FOOTER ******/

.tabs {
  overflow-x: hidden;
}
#search {
  display: none;
  margin-bottom: 0px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}
.mousetoHand {
  cursor:pointer;
  text-decoration:none;
}

/* Dashboard */
.dash-buttons {
  margin: 70px 0px 30px 0px;
}

.dash-tables {
  margin-bottom: 40px;
}

.pressed {
  background-color: #004d40 !important;
}
.btn:hover {
  background-color: #004d40 !important; 
}

/* Browse Page */
.browse-table {
  margin: 50px;
}
.browse-box {
  margin-top: 30px;
}

/****** ROADMAPS ******/
.card-panel {
  word-wrap: break-word;
}
.link-box {
  position: fixed !important;
  left: 5%;
  top: 200px;
  width: 27%;
}
.link-box-btn {
  background-color: #ff7043 !important;
}

.connector {
  height: 60px;
  width: 13px;
  background-color: gray;
  margin-left: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

/*.node-list {
  background-image: url('app/roadmaps/bgImage1.png');
}*/
.circle {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px 0px 0px 5%;
  display: inline-block;
  height: 80px;
  width: 80px;
  background-color: #e0f2f1;
}
.node-list {
  margin-left: 35%;
  width: 90px;
  display: inline-block;
  vertical-align: top;
}
.node-description {
  display: inline-block;
}
.number {
  padding: 29px 0px 0px 32px;
}
.title-list {
  vertical-align: top;
  width: 50%;
  display: inline-block;
}
.node-title {
  margin: 32px 0px 80px 0px;
}
.selectedCircle {
  background-color: #26a69a !important;
}
.doneBtn {
  margin-left: -14px;
  padding-left: 15px;
  padding-right: 15px;
  width: 110px;
}

/*  Footer */

* {
margin: 0;
}
html {
height: 100%;
}
body {
  height: 82%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}
