/****** LINKS ******/
a:hover {
  cursor: pointer;
}


/****** FOOTER ******/
.ng-scope footer.page-footer {
  padding-top: 0;
}

.page-footer h5 {
  margin: 0;
}

footer.page-footer .footer-brand {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.page-footer .row {
  margin: 0;
}

footer.page-footer div.footer-copyright {
  height: 20px;
  line-height: 20px;
}
/****** END FOOTER ******/

.tabs {
  overflow-x: hidden;
}
#search {
  display: none;
  margin-bottom: 0px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}
.mousetoHand {
  cursor:pointer;
  text-decoration:none;
}

/* Dashboard */
.dash-buttons {
  margin: 70px 0px 30px 0px;
}

.dash-tables {
  margin-bottom: 40px;
}

.pressed {
  background-color: #004d40 !important;
}
.btn:hover {
  background-color: #004d40 !important; 
}

/* Browse Page */
.browse-table {
  margin: 50px;
}
.browse-box {
  margin-top: 30px;
}

/****** ROADMAPS ******/
.card-panel {
  word-wrap: break-word;
}
.link-box {
  position: fixed !important;
  left: 30px;
  top: 70px;
  width: 400px;

}
