h5 {
  text-align: absolute;
}
/*body {
 background-color: white;
 }*/
.tabs {
  overflow-x: hidden;
}
#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

/*I'm not sure why the text was almost all italic after installing Materialize
  but this fixes it. If you want to put something in italics use the <em> tag - Gabe */

i, p, h1, h2, h3, h4, h5, h6, th, td {
  font-style: normal !important;
}

/* Dashboard */

.dash-buttons {
  margin: 70px 0px 30px 0px;
}

.dash-tables {
  margin-bottom: 40px;
}