.progress-bar {
  colspan: 4;
}
.made-box {

}
.follow-box {

}
.dash-holder {
  margin: 20px;
}

h5 {
  text-align: absolute;
}
/*body {
 background-color: white;
 }*/
.tabs {
  overflow-x: hidden;
}
#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}
