/*welcome banner*/
.wouter-container {
  margin-left:auto !important; 
  margin-right:auto !important;
  display: table;
  width: 1100px;
  height: 100px;
  background: white;
}

.winner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.wcentered-content {
  background: #fff;
  padding : 20px;
  border : 1px solid #D1D0D0;
} 

ul
{
  list-style-type: none;
/*  display: block; float: left;*/
  font-size: 18px;
  color: #000000;
  /*text-align: center;*/
}

.uwrapper {
    text-align: center;
}
.uwrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.uwrapper li {
    float: left;
    padding: 2px 5px;
}


 /*footer*/ 

.copyright{
  margin-left:auto !important; 
  margin-right:auto !important;
  vertical-align: middle;
  text-align: center;
}

.outer-container {
/*    position : absolute;*/
  margin-left:auto !important; 
  margin-right:auto !important;
  display: table;
  width: 1000px;
  height: 100px;
  background: white;
}

.inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centered-content {
/*  display: inline-block;*/
  background: #fff;
  padding : 20px;
  border : 1px solid #000;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.modal h3 {
  margin: 40px 0px 0px 0px;
  padding: 0px;
  max-width: 300px !important; 
}
.error-msg {
  color:  #f44336 !important;
}

.top-row {
  margin: 5em 0;
}
.display-inline {
  display: inline-block !important;
}

/****** LINKS ******/
a:hover {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

/****** IMAGES ******/
.profile-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
}


/****** FOOTER ******/
.ng-scope footer.page-footer {
  padding-top: 0;
}

.page-footer h5 {
  margin: 0;
}

footer.page-footer .footer-brand {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.page-footer .row {
  margin: 0;
}

footer.page-footer div.footer-copyright {
  height: 20px;
  line-height: 20px;
}
/****** END FOOTER ******/

.tabs {
  overflow-x: hidden;
}
#search {
  display: none;
  margin-bottom: 0px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}
.mousetoHand {
  cursor:pointer;
  text-decoration:none;
}

/* Dashboard */
.dash-buttons {
  margin: 70px 0px 30px 0px;
}

.dash-tables {
  margin-bottom: 40px;
}

.pressed {
  background-color: #004d40 !important;
}
.btn:hover {
  background-color: #004d40 !important; 
}

/* Browse Page */
.browse-table {
  margin: 50px;
}
.browse-box {
  margin-top: 30px;
}

/****** ROADMAPS ******/
.card-panel {
  word-wrap: break-word;
}
.link-box {
  position: fixed !important;
  left: 5%;
  top: 200px;
  width: 27%;
  z-index: 10;
}
.link-box-btn {
  background-color: #ff7043 !important;
}
.creation-box {
  position: fixed !important;
  right: 5%;
  top: 200px;
  width: 35%;
  z-index: 10;
}
.orangeToast {
  background-color: #ff7043 !important;
}

.connector {
  height: 60px;
  width: 13px;
  background-color: gray;
  margin-left: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.mini-connector-a {
  height: 18px;
  width: 12px;
  background-color: gray;
  margin-left: 34px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.mini-connector-b {
  height: 18px;
  width: 12px;
  background-color: gray;
  margin-left: 34px;
 /* margin-top: -10px !important;*/
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.circle {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px 0px 0px 5%;
  display: inline-block;
  height: 80px;
  width: 80px;
  background-color: #e0f2f1;
}
.mini-circle {
  margin-top: -7px !important;
  margin-bottom: 0px !important;
  margin-left: 25px;
  padding: 0px 0px 0px 5%;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #BBDEFB;
  border-radius: 100%
}
.plus {
  margin-top: 5px !important;
  margin-left: 7px !important;
}
.node-list {
  margin-left: 35%;
  width: 90px;
  display: inline-block;
  vertical-align: top;
}
.node-description {
  display: inline-block;
}
.number {
  padding: 29px 0px 0px 32px;
}
.title-list {
  vertical-align: top;
  width: 50%;
  display: inline-block;
}
.node-title {
  margin: 32px 0px 80px 0px;
}
.selectedCircle {
  background-color: #26a69a !important;
}
.doneBtn {
  margin-left: -14px;
  padding-left: 15px;
  padding-right: 15px;
  width: 110px;
}
.editor {
  padding: 10px;
  background-color: black;
}
.editor-msg {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #42a5f5;
  border-right: 1px solid #42a5f5;
  border-left: 1px solid #42a5f5;
  padding: 5px;
  text-align: center;
}

/*  Footer */

* {
margin: 0;
}
html {
height: 100%;
}
body {
  height: 82%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}


/****** SEARCH AND TYPEAHEAD ******/

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

ul.dropdown-menu li {
  background-color: #000;
  display: block;
  clear: both;
  width: 100%;
}

ul.dropdown-menu li.active {
  background-color: #777;
}