h5 {
  text-align: absolute;
}
.tabs {
  overflow-x: hidden;
}
#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

/* Dashboard */
.dash-buttons {
  margin: 70px 0px 30px 0px;
}

.dash-tables {
  margin-bottom: 40px;
}

.pressed {
  background-color: #004d40 !important;
}
.btn:hover {
  background-color: #004d40 !important; 
}
