.progress-bar {
  colspan: 4;
}
.made-box {
  margin-top: 100px;
  width: 400px !important;
  max-width: 400px !important;
}
.follow-box {
  width: 500px !important;
  max-width: 400px !important;
}
.dash-holder {
  margin: 20px;
}
#follow-box {
  border: 1px solid black !important;
  background-color: black !important;
}
h5 {
  text-align: absolute;
}

/*body { background-color: white;}*/


#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}
