language: node_js
node_js:
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
  - "0.6"
  - "iojs"

  deploy:
    provider: heroku
    api_key:
      secure: "46bc7283-b0a6-485e-974a-ea5bf7aa0308"
      
  before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

  env: 
    - "MONGO_URL=mongodb://localhost/"
  services: mongodb


