<script type="text/javascript">
  $( document ).ready(function(){ 
    $('.modal-trigger').leanModal( {dismissible: true} );
  });
</script>

<div ng-controller="AuthController">

  <!-- Signin Form -->
  <div class="container" ng-show="signin">
    <h3>Sign In</h3>
    <form ng-submit="attemptLogin()">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" ng-model="attemptedUsername">
          <label for="user_name" required>Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" ng-model="attemptedPassword">
          <label for="password" required>Password</label>
        </div>
      </div>
      <br>
      <p>(Don't have an account? <a ng-show="!isLoggedIn()" ng-click="showSignup()"><strong>Sign up!</strong></a> Or <a href="/auth/facebook"><strong>Sign in using Facebook</strong></a>)</p>
      <br>
      <div class="row">
        <input type="submit" class="waves-effect waves-light btn">
        
        <p class="error-msg" ng-show="showUnauthMsg">Sorry, those credentials were not recognized.</p>
        <br>
      </div>
    </form>
  </div>

  <!--Sign Up Form-->

  <div class="container" ng-hide="signin">

  <h3>Sign Up</h3>
    <div class="row">
      <form class="col s12" ng-submit="attemptSignup()">
      
        <div class="row">
          <div class="input-field col s6">
            <input id="firstname" type="text" class="validate" ng-model="attemptedFirstName" required>
            <label for="first_name">First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="lastname" type="text" class="validate" ng-model="attemptedLastName" required>
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="username" type="text" class="validate" ng-model="attemptedUsername" required>
            <label for="user_name">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="password" type="password" class="validate" ng-model="attemptedPassword" required>
            <label for="password">Password</label>
          </div>
        </div>
        <div class ="row">
          (Already have an account? <a ng-show="!isLoggedIn()" ng-click="showSignin()"><strong>Sign in!</strong></a>)
        </div>
        <div class="row">
          <input type="submit" class="waves-effect waves-light btn signinSubmitBtn">
          <br>
          <p class="error-msg" ng-show="showSigninFailMsg">Sorry, that username has been taken</p>
        </div>
      </form>

    </div>
  </div>
</div>