<script type="text/javascript">
  $( document ).ready(function(){ 
    $('select').material_select();
    $('.modal-trigger').leanModal( {dismissible: true} );
  });
</script>

<!-- Create Roadmap/Node Popup -->
<div class="modal-content" ng-controller="MainController">

  <!-- Roadmap Form -->

  <h4>Name Your Roadmap!</h4>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="roadmap_title" type="text" class="validate" ng-model="roadmapTitle" required
          placeholder="Title (don't worry, you can change it later)" />
        </div>
        <div class="input-field col s12">
          <input id="roadmap_description" type="text" class="validate" ng-model="roadmapDescription" required
          placeholder="Description" />
        </div>
      </div>
    </div>
  </div>
  <a ng-click="newRoadmap()" class="waves-effect waves-light teal lighten-2 btn"><i class="material-icons right">thumb_up</i>Make Roadmap</a>
</div>
