<script type="text/javascript">
  $( document ).ready(function(){ 
    $('.modal-trigger').leanModal( {dismissible: true} );
  });
</script>

<!-- Input New Image Url -->
<div class="modal-content">
  <div class="row">
    <div class="col s8 center-align">
      <div class="input-field col s12">
        <input id="input_image_url" type="url" class="validate" ng-model="inputImageUrl">
        <label for="input_image_url">Image URL</label>
      </div>
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" ng-click="submitImageUrl()" name="action">Save</button>
      </div>
    </div>
    <div class="col s4">
      <img class="profile-image" ng-src="{{inputImageUrl}}">
    </div>
  </div>
</div>