<!-- Link box -->
<div class="link-box">

  <div class="row">
    <div class="col s12 m16">
      <div class="card hoverable teal lighten-5">
        <div class="card-content">
          <span class="card-title truncate"><b>{{ currentTitle }}</b></span>
          <p ng-bind="currentNodeDescription">This is the description of why this matters.</p>
          <ul>
              <li ng-repeat="link in currentLinks"><a class="truncate" href="{{link}}">{{link}}</a></li>
          </ul>
        </div>
        <div class="card-action">
          <button class="link-box-btn btn" ng-click="submitCompletedNode()">Node Done</button>
         <!-- <a class="link-box-btn" ng-click="submitCompletedRoadmap()">Map Done</a>  -->
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Roadmap Title -->

<div class="col s8 roadmap-title">
  <h3 class="center-align" ng-bind="roadMapTitle">Title of the RoadMap Itself</h3>
  <div class="divider"></div>
</div>

   <!-- Nodes -->
<div class="node-list container">
  <div ng-repeat="node in renderedNodes">

    <div class="circle teal lighten-5" id="{{ 'node-' + node.index }}">
      <div class="number" ng-click="selectNode(node.index)">12
      </div>
    </div>

  <div class="center-align connector"></div>

  </div>
</div>


  <div class="title-list container">
  <div ng-repeat="node in renderedNodes">

      <span class="node-description truncate node-title" ng-bind="node.title"> Title</span> 

  </div>
</div>
