
<!-- Link box -->
<div class="link-box">

  <div class="row">
    <div class="col s12 m16">
      <div class="card hoverable teal lighten-5">
        <div class="card-content">
          <span ng-hide="hideText(currentIndex, 'title', 'box')"
                ng-click="showEditor(currentIndex, 'title', true, 'box')"
                class="card-title truncate"><b>{{ currentTitle }}</b></span>
          <div class="input-field col s12" 
               ng-show="hideText($index, 'title', 'box')">
            <input id="{{'box-title-' + currentIndex }}"
                   value="{{ getPlaceholder(currentIndex, 'title') }}"
                   type="text" 
                   class="validate">
            <span class="editor-buttons">
              <button ng-click="saveEdit(currentIndex, 'title', 'box')"
                      class="save btn-flat">Save</button>
              <button ng-click="showEditor(currentIndex, 'title', false, 'box')"
                      class="cancel btn-flat">Cancel</button>
            </span>
          </div>


          <p ng-hide="hideText(currentIndex, 'description', 'box')"
             ng-click="showEditor(currentIndex, 'description', true, 'box')"
             ng-bind="currentDescription"
             class="author-input">This is the description of why this matters.</p>
          <div class="input-field col s12 " 
               ng-show="hideText($index, 'description', 'box')">
            <input id="{{'box-description-' + currentIndex }}"
                   value="{{ getPlaceholder(currentIndex, 'description') }}"
                   type="text" 
                   class="validate">
            <span class="editor-buttons">
              <button ng-click="saveEdit(currentIndex, 'description', 'box')"
                      class="save btn-flat">Save</button>
              <button ng-click="showEditor(currentIndex, 'description', false, 'box')"
                      class="cancel btn-flat">Cancel</button>
            </span>
          </div>
          <ul>
            <li ng-repeat="link in currentLinks">
              <div ng-hide="hideText(currentIndex, 'resourceURL', 'box')">
                <a class="truncate"
                   href="{{link}}">{{link}}</a>
                <a ng-click="showEditor(currentIndex, 'resourceURL', true, 'box')"
                   class="author-input">[edit link]</a>
              </div>
              <div class="input-field col s12"
                   ng-show="hideText($index, 'resourceURL', 'box')">
                <input id="{{'box-resourceURL-' + currentIndex }}"
                       value="{{ getPlaceholder(currentIndex, 'resourceURL') }}"
                       type="text" 
                       class="validate">
                <span class="editor-buttons">
                  <button ng-click="saveEdit(currentIndex, 'resourceURL', 'box')"
                          class="save btn-flat">Save</button>
                  <button ng-click="showEditor(currentIndex, 'resourceURL', false, 'box')"
                          class="cancel btn-flat">Cancel</button>
                </span>
            </div>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <button class="link-box-btn btn" ng-click="submitCompletedNode()">Node Done</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Node Creation Box -->
<div ng-show="displayNodeCreator"
     class="creation-box">

  <div class="row">
    <div class="col s12 m16">
      <div class="card hoverable teal lighten-5">
        <div class="card-content">
          <span ng-hide="hideText(currentIndex, 'title', 'box')"
                ng-click="showEditor(currentIndex, 'title', true, 'box')"
                class="card-title"><b>Add a Node</b></span>
                <span class="right">
                  <i ng-click="closeNodeCreator()"
                     class="fa fa-times fa-lg"></i>
                </span>
          <div class="input-field col s12 blue lighten-4">
            <input id="creation-scraper"
                   ng-model="urlToScrape"
                   type="url">
            <span class="editor-buttons">
              <button ng-click="checkAndSubmit()"
                      class="save btn-flat">Get Info</button>
            </span>
          </div>
            <input id="node-creation-title"
                   ng-model="currentCreationTitle"
                   type="text"
                   placeholder="Get node info automatically by pasting the link here">
            <input id="node-creation-description"
                   ng-model="currentCreationDescription"
                   type="text">
            <input id="node-creation-type"
                   ng-model="currentCreationType"
                   type="text">
            <input id="node-creation-link"
                   ng-model="currentCreationLink"
                   type="url">
            <input id="node-creation-image"
                   ng-model="currentCreationImage"
                   type="url">
            <button class="link-box-btn btn" ng-click="createNode($index)">Add Node</button>
          </div>
          <ul>
            <li ng-repeat="link in currentLinks">
              <div ng-hide="hideText(currentIndex, 'resourceURL', 'box')">
              </div>
              <div class="input-field col s12"
                   ng-show="hideText($index, 'resourceURL', 'box')">
                <input id="{{'box-resourceURL-' + currentIndex }}"
                       ng-model="urlToScrape"
                       type="text" 
                       class="validate">
                <span class="editor-buttons">
                  <button ng-click="saveEdit(currentIndex, 'resourceURL', 'box')"
                          class="save btn-flat">Save</button>
                  <button ng-click="showEditor(currentIndex, 'resourceURL', false, 'box')" class="cancel btn-flat">Cancel</button>
                </span>
            </div>
            </li>
          </ul>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Editor Mode Message -->
  <div id="editor-placeholder"></div>

  <!-- Roadmap Title -->

<div class="col s8 roadmap-title">
  <h3 ng-hide="hideTitle"
      ng-click="showTitleEditor(true)"
      class="center-align"
      ng-bind="roadMapTitle">Title of the RoadMap Itself</h3>
    <div class="input-field col s12"
         ng-show="hideTitle">
      <input id="main-title"
             value="{{ roadMapTitle }}"
             type="text"
             class="validate">
      <span class="editor-buttons">
        <button ngclick="saveTitleEdit()" class="save btn-flat">Save</button>
        <button class="cancel btn-flat" ng-click="showTitleEditor(false)">Cancel</button>
      </span>
    </div>

      <p ng-hide="hideDesc"
      ng-click="showDescEditor(true)"
      class="center-align"
      ng-bind="roadMapDesc">Roadmap Description</p>
    <div class="input-field col s12"
         ng-show="hideDesc">
      <input id="main-desc"
             value="{{ roadMapDesc }}"
             type="text"
             class="validate">
      <span class="editor-buttons">
        <button ngclick="saveDescEdit()" class="save btn-flat">Save</button>
        <button class="cancel btn-flat" ng-click="showDescEditor(false)">Cancel</button>
      </span>
    </div>

  <div class="divider"></div>
  <br>

   <!-- Nodes -->
<div class="node-list container">

  <div ng-repeat="node in renderedNodes">

    <div ng-class="{ selectedCircle : $index == currentIndex, circle : true }" id="{{ 'node-' + node.index }}" ng-click="selectNode(node.index)">
      <div class="number">{{ node.index + 1 }}
      </div>
    </div>
  
    <div ng-hide="isAuthor()" class="center-align connector"></div>

     <div ng-click="showNodeCreator($index, true)">
      <div ng-show="isAuthor()" class="center-align mini-connector-a"></div>
      <div ng-show="isAuthor()" class="mini-circle"><div class="plus">+</div></div>
      <div ng-show="isAuthor()" class="center-align mini-connector-b"></div>
    </div>

  </div>

      <button class="link-box-btn btn doneBtn" ng-click="submitCompletedRoadmap()">Map Done</button>

</div>

   <!-- Node Descriptions -->

<div class="title-list container">
  <div ng-repeat="node in renderedNodes">
    <span ng-hide="hideText($index, 'title', 'main')"
          ng-click="showEditor($index, 'title', true, 'main')"
          class="node-description truncate node-title"
          ng-bind="node.title"> Title</span>
    <div class="input-field col s12"
         ng-show="hideText($index, 'title', 'main')">
      <input id="{{'main-title-' + $index }}"
             value="{{ getPlaceholder($index, 'title') }}"
             type="text"
             class="validate">
      <span class="editor-buttons">
        <button ng-click="saveEdit($index, 'title', 'main')" class="save btn-flat">Save</button>
        <button class="cancel btn-flat" ng-click="showEditor($index, 'title', false, 'main')">Cancel</button>
      </span>
    </div>
  </div>
</div>

<div class="center">   <!-- Buttons for Voting -->
      <p><i class="fa fa-thumbs-o-up fa-lg" ng-click="upVoteMap()" ng-bind="upVoteCount" style="color:green"></i></p>
      <p><i class="fa fa-thumbs-o-down fa-lg" ng-click="downVoteMap()" ng-bind="downVoteCount" style="color:red"></i></p>
</div>

<br><br><br><br><br>


<div class="row">
  <button type="submit" class="waves-effect waves-light btn link-box-btn col offset-s3" ng-show="!showComments" ng-click="toggleComments()">Click to Show Comment Section</button>
</div>


<div class="row commentSection" ng-show="showComments">
  <h4>Comment Section       <i class="material-icons">comment</i> </h4>
  
  <div ng-repeat="comment in renderedComments">
    <h5 class="node-description truncate node-title" ng-bind="comment.subject">I am the subject</h5>
    <div class="divider"></div>
    <span class="node-description truncate node-title" ng-bind="comment.content">I am the content</span>
  </div>

  <h3>Post a Comment!</h3>
    <form class="col s12" ng-submit="postComment()">
      <div class="row">
        <div class="input-field col s6">
          <input id="input_text" type="text" length="20" ng-model="subject">
          <label for="input_text" >Input text</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" length="120" ng-model="content"></textarea>
          <label for="textarea1" >Textarea</label>
        </div>
      </div>
      <div class="row">
          <button type="submit" class="waves-effect waves-light btn commentBtn">Submit your Comment!</button>
      </div>
    </form>
  </div>



