
<!-- Node Card -->
<div class="link-box">

</div>


<!-- Editor Mode Message -->
<div id="editor-placeholder"></div>


<!-- Roadmap Title -->
<div class="col s8 roadmap-title">
  <h3 class="center-align" ng-bind="map.title">Roadmap Title</h3>
  <p class="center-align" ng-bind="map.description">Roadmap Description</p>
</div>


<!-- Nodes -->
<div class="node-list container">

  <div ng-repeat="node in nodes">
    {{ node }}
  </div>

  <button class="link-box-btn amber darken-1 btn doneBtn" ng-click="completeRoadmap()">Map Done</button>

</div>



