<h3>Create A Roadmap</h3>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <input id="roadmap_title" type="text" class="validate" ng-model="roadmapTitle">
          <label for="roadmap_title">Give it a title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="roadmap_description" type="text" class="validate" ng-model="roadmapDescription">
          <label for="roadmap_description">Tell us about it</label>
        </div>
      </div>
    </form>
  </div>
