<!-- This code is necessary to make the dropdown work. -->
<!-- TODO: Find it a centralized home. -->
<script>
  $(document).ready(function() {
      $('select').material_select();
  });
</script>

<!-- Roadmap Form -->
<h3>Create A Roadmap</h3>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s8">
        <input id="roadmap_title" type="text" class="validate" ng-model="roadmapTitle">
        <label for="roadmap_title">Give it a title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="roadmap_description" type="text" class="validate" ng-model="roadmapDescription">
        <label for="roadmap_description">Tell us about it</label>
      </div>
    </div>
  </form>
</div>

<!-- Node Form -->
<h4 ng-click="test()">Add a node</h4>
<div class="row">
  <form class="col s12" name="nodeForm">
    <div class="row">
      <div class="input-field col s8">
        <input id="node_title" type="text" class="validate" ng-model="nodeTitle">
        <label for="node_title">Title the node</label>
      </div>
      <div class="input-field col s4">
        <select ng-model="nodeType">
          <option value="" disabled selected>What is it?</option>
          <option value="Blog Post">Blog Post</option>
          <option value="Class">Class</option>
          <option value="Video">Video</option>
          <option value="Music">Music</option>
        </select>
        <label>Node Type</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="node_description" type="text" class="validate" ng-model="nodeDescription">
        <label for="node_description">Describe this step</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="node_url" type="url" class="validate" ng-model="nodeUrl">
        <label for="node_url">What's the link?</label>
      </div>
      <div class="input-field col s6">
        <input id="node_image_url" type="url" class="validate" ng-model="nodeImageUrl">
        <label for="node_image_url">Link an image (optional)</label>
      </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit" onclick="reset()" ng-click="submitAndRefresh()" name="action">Add Another Node
        </button>
        <a ui-sref="roadmapTemplate"><button class="btn waves-effect waves-light" type="submit" ng-click="submitNode()" name="action">Add Node and Finish
        </button></a>
    </div>
  </form>
</div>