<!-- Materialize needs these scripts. -->
<!-- TODO: Find a centralized home -->
<script type="text/javascript">
  $( document ).ready(function(){ 
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
  });
</script>

<!--nav bar-->
<div class="navbar-fixed">
  <nav class="amber lighten-1">
    <div class="nav-wrapper container">  
      <a href="#" class="brand-logo">Roadmap to Anything</a>
      <a href="#" data-activates="collapsed-options" class="button-collapse right"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Need to make a dropdown search -->
        <li><i class="mdi-action-search"></i></li>
        <li><a ui-sref="home.browse">Browse</a></li>
        <li><a ng-show="!isLoggedIn()" class="modal-trigger" href="#modal1">Sign in</a></li>
        <li><a ng-show="isLoggedIn()" class="dropdown-button" data-activates="dropdown" data-beloworigin="true">Hi, {{ getUsername() }}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <ul id="dropdown" class="dropdown-content collection">
            <li><a ui-sref="home.dashboard">Dashboard</a></li>
            <li><a class="modal-trigger" href="#modal2">Create Roadmap</a></li>
            <li ng-show="isLoggedIn()"><a ng-click="logout()">Logout</a></li>
          </ul> 
      </ul>
      <ul class="side-nav" id="collapsed-options">
        <li><a ng-show="!isLoggedIn()" class="modal-trigger" href="#modal1">Sign in</a></li>
        <li><a ui-sref="home.browse">Browse</a></li>
        <li ng-show="isLoggedIn()"><a ui-sref="home.dashboard">Dashboard</a></li>
        <li ng-show="isLoggedIn()"><a class="modal-trigger" href="#modal2">Create Roadmap</a></li>
        <li ng-show="isLoggedIn()"><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </nav> 
</div>

<!-- Auth Popup -->

<div id="modal1" class="modal" ng-controller="AuthController">

  <!-- Signin Form -->
  <div class="container" ng-show="signin">
    <h3>Sign In</h3>
    <form ng-submit="attemptLogin()">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" ng-model="attemptedUsername">
          <label for="user_name" required>Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" ng-model="attemptedPassword">
          <label for="password" required>Password</label>
        </div>
      </div>
      <br>
      <p>(Don't have an account? <a ng-show="!isLoggedIn()" ng-click="showSignup()"><strong>Sign up!</strong></a>)</p>
      <br>
      <div class="row">
        <input type="submit" class="waves-effect waves-light btn">
        
        <p class="error-msg" ng-show="showUnauthMsg">Sorry, those credentials were not recognized.</p>
        <br>
      </div>
    </form>
  </div>

  <!--Sign Up Form-->

  <div class="container" ng-hide="signin">

  <h3>Sign Up</h3>
    <div class="row">
      <form class="col s12" ng-submit="attemptSignup()">
      
        <div class="row">
          <div class="input-field col s6">
            <input id="firstname" type="text" class="validate" ng-model="attemptedFirstName" required>
            <label for="first_name">First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="lastname" type="text" class="validate" ng-model="attemptedLastName" required>
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="username" type="text" class="validate" ng-model="attemptedUsername" required>
            <label for="user_name">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="password" type="password" class="validate" ng-model="attemptedPassword" required>
            <label for="password">Password</label>
          </div>
        </div>
        <div class ="row">
          (Already have an account? <a ng-show="!isLoggedIn()" ng-click="showSignin()"><strong>Sign in!</strong></a>)
        </div>
        <div class="row">
          <input type="submit" class="waves-effect waves-light btn signinSubmitBtn">
          <br>
          <p class="error-msg" ng-show="showUnauthMsg">Sorry, that username has been taken</p>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Create Roadmap/Node Popup -->

<div id="modal2" class="modal" ng-controller="CreationController">
  <div class="modal-content">

    <!-- Roadmap Form -->

    <h3>Create A Roadmap</h3>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s8">
            <input id="roadmap_title" type="text" class="validate" ng-model="roadmapTitle" required>
            <label for="roadmap_title">Give it a title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="roadmap_description" type="text" class="validate" ng-model="roadmapDescription" required>
            <label for="roadmap_description">Tell us about it</label>
          </div>
        </div>
      </form>
    </div>

    <!-- Node Form -->
    <h4 ng-click="test()">Add a node</h4>
    <div class="row">
      <form class="col s12" name="nodeForm">
        <div class="row">
          <div class="input-field col s8">
            <input id="node_title" type="text" class="validate" ng-model="nodeTitle" input>
            <label for="node_title">Title the node</label>
          </div>
          <div class="input-field col s4">
            <select ng-model="nodeType">
              <option value="Blog Post" selected>Blog Post</option>
              <option value="Class">Class</option>
              <option value="Video">Video</option>
              <option value="Music">Music</option>
            </select>
            <label>What is it?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="node_description" type="text" class="validate" ng-model="nodeDescription" required>
            <label for="node_description">Describe this step</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="node_url" type="url" class="validate" ng-model="nodeUrl">
            <label for="node_url">What's the link? (optional)</label>
          </div>
          <div class="input-field col s6">
            <input id="node_image_url" type="url" class="validate" ng-model="nodeImageUrl">
            <label for="node_image_url">Link an image (optional)</label>
          </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" onclick="reset()" ng-click="submitAndRefresh()" name="action">Add Another Node
            </button>
            <button class="modal-action btn waves-effect waves-light" type="submit" ng-click="submitAndExit()" name="action">Add Node and Finish
            </button>
        </div>
      </form>
    </div>
  </div>
</div>
