<!-- Materialize needs these scripts. -->
<!-- TODO: Find a centralized home -->
<script type="text/javascript">
  $( document ).ready(function(){ 
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
  });
</script>

<!--nav bar-->
<div class="navbar-fixed">
  <nav class="amber lighten-1">
    <div class="nav-wrapper container">  
      <a href="#" class="brand-logo">Roadmap to Anything</a>
      <a href="#" data-activates="collapsed-options" class="button-collapse right"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Need to make a dropdown search -->
        <li><i class="mdi-action-search"></i></li>
        <li><a ui-sref="home.browse">Browse</a></li>
        <li><a ng-show="!isLoggedIn()" class="modal-trigger" href="#modal1">Sign in</a></li>
        <li><a ng-show="isLoggedIn()" class="dropdown-button" data-activates="dropdown" data-beloworigin="true">Hi, {{ getUsername() }}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <ul id="dropdown" class="dropdown-content collection">
            <li><a ui-sref="home.dashboard">Dashboard</a></li>
            <li><a ui-sref="home.roadmapCreation">Create Roadmap</a></li>
            <li ng-show="isLoggedIn()"><a ng-click="logout()">Logout</a></li>
          </ul> 
      </ul>
      <ul class="side-nav" id="collapsed-options">
        <li><a ng-show="!isLoggedIn()" class="modal-trigger" href="#modal1">Sign in</a></li>
        <li><a ui-sref="home.browse">Browse</a></li>
        <li ng-show="isLoggedIn()"><a ui-sref="home.dashboard">Dashboard</a></li>
        <li ng-show="isLoggedIn()"><a ui-sref="home.roadmapCreation">Create Roadmap</a></li>
        <li ng-show="isLoggedIn()"><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </nav> 
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal" ng-controller="AuthController">
    <div class="container">
      <h3>Sign In</h3>
  <div class="row">
    <form class="col s12" ng-submit="attemptLogin()">

      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" ng-model="attemptedUsername">
          <label for="user_name" required>Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" ng-model="attemptedPassword">
          <label for="password" required>Password</label>
        </div>
      </div>
      <div class ="row">
        Don't have an account? <a ng-show="!isLoggedIn()" ui-sref="home.signup"><strong>Sign up!</strong></a>
      </div>
      <div class="row">
        <input type="submit" class="modal-action modal-close waves-effect waves-light btn"></a>
        <br>
        <p class="error-msg" ng-show="showUnauthMsg">Sorry, those credentials were not recognized.</p>
      </div>

    </form>
    </div>
  </div>
  </div>
