<div class="container">
  <div class="dash-buttons">
    <a id="followedBtn" class="btn pressed" ng-click="changeToFollowed()">Maps I Follow</a>
    <a id="myMapsBtn" class="btn" ng-click="changeToMyMaps()">Maps I Made</a>
   <a id="myMapsBtn" class="btn" ng-click="changeToCompleted()">Maps I Completed</a>
  </div>

  <div class="dash-tables">

    <!--Maps I Follow-->
    <div class="dash-table" ng-show="showFollowed">
      <div class="follow-title"><h5>Maps I Follow</h5></div>
      <div class="follow-maps">
        <table class="bordered striped highlight0+56+">
          <tbody>
            <tr>
              <th>Nodes</th>
              <th>Roadmap</th>
              <th>Progress Bar</th>
              <th>Delete</th>
            </tr>
          </tbody>
          <tbody class="follow-map" ng-repeat="map in followed">
            <tr>
              <td>{{ map.nodesCompleted }} /
              {{ map.nodes.length }}</td>
              <td class="truncate" ng-click="goToMap( map._id )">
                <span class="mousetoHand">{{ map.title }}</span>
              </td>
              <td class="progress-bar">
                <div class="progress">
                  <div class="determinate" ng-style="{'width': map.percentComplete + '%'}"></div>
                </div>
              </td>
              <td>
                <a ng-click="deleteFollowedMap( map._id )">
                <span class="mousetoHand">Delete</span></a>
              </td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>

    <!--Maps I Made-->
    <div class="dash-table" ng-show="showMyMaps">
      <div class="made-title"><h5>Maps I Made</h5></div>
      <div class="made-maps">
        <table class="bordered striped highlight">
          <tbody>
            <tr>
              <th>Nodes</th>
              <th>Roadmap</th>
              <th>Delete</th>
            </tr>
          </tbody>
          <tbody class="follow-map" ng-repeat="map in myMaps">
            <tr>
              <td>{{ map.nodes.length }}</td>
              <td class="truncate" ng-click="goToMap( map._id )">
                <span class="mousetoHand">{{ map.title }}</span>
              </td>
              <td>
                <a ng-click="deleteMapIMade( map._id )"><span class="mousetoHand">Delete</span></a>
              </td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>

        <!--Maps I Completed-->
    <div class="dash-table" ng-show="showCompleted">
      <div class="made-title"><h5>Maps I Completed</h5></div>
      <div class="made-maps">
        <table class="bordered striped highlight">
          <tbody>
            <tr>
              <th>Nodes</th>
              <th>Roadmap</th>
              <th>Delete</th>
            </tr>
          </tbody>
          <tbody class="follow-map" ng-repeat="map in completed">
            <tr>
              <td>{{ map.nodes.length }}</td>
              <td class="truncate" ng-click="goToMap( map._id )">
                <span class="mousetoHand">{{ map.title }}</span>
              </td>
              <td>
                <a ng-click="deleteMapIMade( map._id )"><span class="mousetoHand">Delete</span></a>
              </td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
