<script type="text/javascript">
  $( document ).ready(function(){ 
    // $.get('app/modals/creation.html', function (modal) {
    //   $('#creation-modal').append(modal);
    // });
    $('select').material_select();
    $(".dropdown-button").dropdown();
    $('.modal-trigger').leanModal({ 
      dismissible: true,
      complete: function() {
        $('.lean-overlay').remove();
      }
    });
  });
</script>


<div class="row top-row">
  <div class="col s3">
    <img class="profile-image clickable" ng-src="{{user.imageUrl}}" ng-click="openImageModal()">
  </div>
  <div class="col s9">
    <h3>{{user.firstName}}</h3>
    <h4>{{user.lastName}}</h4>
    <div><strong>Roadmaps Created:</strong> {{user.authoredRoadmaps.length}}</div>
    <div><strong>Roadmaps Completed:</strong> {{user.completedRoadmaps.length}}</div>
  </div>
</div>

<div class="dash-buttons">
  <a id="followedBtn" class="btn pressed" ng-click="changeToFollowed()">Maps I Follow</a>
  <a id="myMapsBtn" class="btn" ng-click="changeToMyMaps()">Maps I Made</a>
 <a id="completedBtn" class="btn" ng-click="changeToCompleted()">Maps I Completed</a>
</div>

<div class="dash-tables">

  <!--Maps I Follow-->
  <div class="dash-table" ng-show="showFollowed">
    <div class="follow-title"><h5>Maps I Follow</h5></div>
    <div class="follow-maps">
      <table class="bordered striped highlight0+56+">
        <tbody>
          <tr>
            <th>Nodes</th>
            <th>Roadmap</th>
            <th>Progress Bar</th>
            <th>Unfollow</th>
          </tr>
        </tbody>
        <tbody class="follow-map" ng-repeat="map in followed">
          <tr>
            <td>{{ map.nodesCompleted }} /
            {{ map.nodes.length / 2 }}</td>
            <td class="truncate" ng-click="goToMap( map._id )">
              <span class="mousetoHand">{{ map.title }}</span>
            </td>
            <td class="progress-bar">
              <div class="progress">
                <div class="determinate" ng-style="{'width': map.percentComplete + '%'}"></div>
              </div>
            </td>
            <td>
              <a ng-click="unfollowMap( map._id )">
              <span class="mousetoHand">Unfollow</span></a>
            </td>
          </tr>
      </tbody>
      </table>
      <div class="card hoverable grey lighten-4" ng-show="!followed.length">
        <div class="card-content center-align">
          <h5>You haven't followed any Roadmaps!</h5>
          Find the perfect one <a ui-sref="home.browse">on our browse page.</a>
        </div>
      </div>
    </div>
  </div>

  <!--Maps I Made-->
  <div class="dash-table" ng-show="showMyMaps">
    <div class="made-title"><h5>Maps I Made</h5></div>
    <div class="made-maps">
      <table class="bordered striped highlight">
        <tbody>
          <tr>
            <th>Nodes</th>
            <th>Roadmap</th>
            <th>Delete</th>
          </tr>
        </tbody>
        <tbody class="follow-map" ng-repeat="map in myMaps">
          <tr>
            <td>{{ map.nodes.length }}</td>
            <td class="truncate" ng-click="goToMap( map._id )">
              <span class="mousetoHand">{{ map.title }}</span>
            </td>
            <td>
              <a ng-click="deleteMap( map._id )"><span class="mousetoHand">Delete</span></a>
            </td>
          </tr>
      </tbody>
      </table>
      <div class="card hoverable grey lighten-4" ng-show="!myMaps.length">
        <div class="card-content center-align">
          <h5>You haven't made any Roadmaps!</h5>
          Drop some knowledge on the world <a ng-click="openCreationModal()">by building one</a> now.
        </div>
      </div>
    </div>
  </div>

      <!--Maps I Completed-->
  <div class="dash-table" ng-show="showCompleted">
    <div class="made-title"><h5>Maps I Completed</h5></div>
    <div class="made-maps">
      <table class="bordered striped highlight">
        <tbody>
          <tr>
            <th>Nodes</th>
            <th>Roadmap</th>
          </tr>
        </tbody>
        <tbody class="follow-map" ng-repeat="map in completed">
          <tr>
            <td>{{ map.nodes.length }}</td>
            <td class="truncate" ng-click="goToMap( map._id )">
              <span class="mousetoHand">{{ map.title }}</span>
            </td>
          </tr>
      </tbody>
      </table>
      <div class="card hoverable grey lighten-4" ng-show="!completed.length">
        <div class="card-content center-align">
          <h5>You haven't completed any Roadmaps yet</h5>
          But don't worry, we know you'll finish one soon!
        </div>
      </div>
    </div>
  </div>

</div>
