<!--Browse Page -->
  <div class="browse-box">
    <a ng-click="goToDash()" ng-show="isLoggedIn()" class="waves-effect waves-light btn cyan lighten-3 browseBtn">Go To My Maps</a>
  </div>
  <br>
  <div class='search'>
    <label>Search: <input ng-model="searchText"></label>
  </div>
  <br>
  <a class='cyan lighten-3 dropdown-button btn' href='#' data-activates='dropdown3'>Filters</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown3' class='dropdown-content'>
    <li><a href="#!" ng-click="" class="cyan-text text-darken-1">Rating</a></li>
    <li class="divider"></li>
    <li><a href="#!" ng-click="" class="cyan-text text-darken-1">Comments</a></li>
  </ul>
  <br>
  <br>
  <div ng-show="showSigninMsg">You must be signed in first</div>
  <ul class="collapsible" data-collapsible="accordion">
   <li ng-repeat="map in mapData | filter: searchText">
      <div class="collapsible-header">
        <i class="fa fa-map-o" style="color:#1ABBCC">
        </i>
        <span class="mousetoHand"> {{ map.title }}
        </span>
      </div>
      <div class="collapsible-body">
        <div class="container">
          <table>
            <tr>
              <th><i class="fa fa-file-image-o fa-5x"></i></th>
            </tr>
            <tr>
              <th class="truncate" style="color:#0048C4" ng-click="goToMap( map._id )"><b>{{ map.description }}</b>
              </th>
            </tr>
             <tr> 
            <!-- Created by date is presented by ng filter component -->
              <!-- <td>Created on <b>{{ map.author.created | date:"MM/dd/yyyy 'at' h:mma" }}</b> <td>by   <b>{{ map.author.username }}</b></td></td> -->

              <td>Created by <b>{{ map.author.username }}</b> <span data-livestamp="{{map.author.created}}"></span>
            </tr>
            <tr>
              <!-- Displays comments but not linked to comment page yet... should we have a separate comments view? -->
              <td><a href="">{{ totalComments(map.author.comments) }} Comments</a></td>
              <td>Number of Nodes: <b>{{ map.totalNodes }}</b></td>
              <td><a ng-click="followMap( map._id )" class="waves-effect waves-light btn cyan lighten-3">Add!</a></td>
            </tr>
          </table>
        </div>
<!--       </div> -->
    </li>
  </ul>
</div>

<br>
  <br>
  <br>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

    $('.dropdown-button').dropdown({
         inDuration: 300,
         outDuration: 225,
         constrain_width: false, // Does not change width of dropdown to that of the activator
         hover: false, // Activate on click
         alignment: 'left', // Aligns dropdown to left or right edge (works with constrain_width)
         gutter: 0, // Spacing from edge
         belowOrigin: false // Displays dropdown below the button
       }
     );

  });
  </script>