<div class="container">
  <div class="dash-buttons">
    <a id="followedBtn" class="btn pressed" ng-click="showFollowed()">Maps I Follow</a>
    <a id="myMapsBtn" class="btn" ng-click="showMyMaps()">Maps I Made</a>
  </div>

  <div class="dash-tables">

    <!--Maps I Follow-->
    <div class="dash-table" ng-show="hideMyMaps">
      <div class="follow-title"><h5>Maps I Follow</h5></div>
      <div class="follow-maps">
        <table class="bordered striped highlight0+56+">
          <tbody>
            <tr>
              <th>Nodes</th>
              <th>Roadmap</th>
              <th>Progress Bar</th>
            </tr>
          </tbody>
          <tbody class="follow-map" ng-repeat="map in dummyFollowed">
            <tr>
              <td>{{ map.completed }} /
              {{ map.nodes }}</td>
              <td class="truncate">{{ map.title }}</td>
              <td class="progress-bar">
                <div class="progress">
                  <div class="determinate" ng-style="{'width': map.percentComplete + '%'}"></div>
                </div>
              </td>  
            </tr>
        </tbody>
        </table>
      </div>
    </div>

    <!--Maps I Made-->
    <div class="dash-table" ng-hide="hideMyMaps">
      <div class="made-title"><h5>Maps I Made</h5></div>
      <div class="made-maps">
        <table class="bordered striped highlight">
          <tbody>
            <tr>
              <th>Nodes</th>
              <th>Roadmap</th>
            </tr>
          </tbody>
          <tbody class="follow-map" ng-repeat="map in dummyMyMaps">
            <tr>
              <td>{{ map.nodes }}</td>
              <td class="truncate">{{ map.title }}</td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>

  </div>
</div>