
<h1>Sign In</h1>
  <div class="row">
    <form class="col s12" ng-submit="attemptLogin()">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" ng-model="attemptedUsername">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" ng-model="attemptedPassword">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <input type="submit" class="waves-effect waves-light btn"></a>
        <br>
        <p class="error-msg" ng-show="showUnauthMsg">Sorry, those credentials were not recognized.</p>
      </div>

    </form>
  </div>
