
<h1>Sign Up</h1>
  <div class="row">
    <form class="col s12" ng-submit="attemptSignup()">
    
      <div class="row">
        <div class="input-field col s6">
          <input id="firstname" type="text" class="validate" ng-model="attemptedFirstName" required>
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="lastname" type="password" class="validate" ng-model="attemptedLastName" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" ng-model="attemptedUsername" required>
          <label for="user_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" ng-model="attemptedPassword" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <input type="submit" class="waves-effect waves-light btn"></a>
        <br>
        <p class="error-msg" ng-show="showUnauthMsg">Sorry, that username has been taken</p>
      </div>

    </form>
  </div>